<section class="portfolio section-padding mt-5" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>Our Projects</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur<br>
                        adipisicing elit. Non, quo.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-light text-center bg-white pb-2">
                    <div class="card-body text-dark">
                        <div class="img-area mb-4"><img alt="" class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/deipesa.appspot.com/o/construction%20service%202-compressed.jpg?alt=media&token=aa08756f-0a3a-4616-957f-f52bf99bd159"></div>
                        <h3 class="card-title">Building Make</h3>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi
                            temporibus alias iste. Accusantium?</p><button class="btn bg-warning text-dark">Learn
                            More</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-light text-center bg-white pb-2">
                    <div class="card-body text-dark">
                        <div class="img-area mb-4"><img alt="" class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/deipesa.appspot.com/o/construction%20service%202-compressed.jpg?alt=media&token=aa08756f-0a3a-4616-957f-f52bf99bd159"></div>
                        <h3 class="card-title">Building Make</h3>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi
                            temporibus alias iste. Accusantium?</p><button class="btn bg-warning text-dark">learn
                            More</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-light text-center bg-white pb-2">
                    <div class="card-body text-dark">
                        <div class="img-area mb-4"><img alt="" class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/deipesa.appspot.com/o/construction%20service%204.jpg?alt=media&token=6c35c2e2-689f-47a2-bdd4-53306889eb84"></div>
                        <h3 class="card-title">Building Make</h3>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi
                            temporibus alias iste. Accusantium?</p><button class="btn bg-warning text-dark">Learn
                            More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>